:root {
  --calendar-col: #191970;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lobster Two";
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-s;
  padding-bottom: 30px;
  background-image: linear-gradient(to bottom, #00008B 0%, #ADD8E6 50%, #00008B 100%);

 }

.container {
    position: relative;
    width: 90%;
    min-height: 500px;
    margin: 0 auto; 
    padding: 5px;
    color: #fff;
    display: flex;
    justify-content: center; 
    flex-direction: row; 
  }

.left {
    width: 50%;  
    padding: 0px;
}

.calendar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #878895;
  border-radius: 10px;
  background-color: #fff;
}

.calendar::before,
.calendar::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 12px;
  height: 97%;
  border-radius: 0 5px 5px 0;
  background-color: #87CEFA;
  transform: translateY(-50%);
}
.calendar::before {
  height: 94%;
  left: calc(100% + 12px);
  background-color: #B0E0E6;
}

.calendar .month {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: capitalize;
}

.calendar .month .prev,
.calendar .month .next {
  cursor: pointer;
}
.calendar .month .prev:hover,
.calendar .month .next:hover {
  color: var(--calendar-col);
}
.calendar .weekdays {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
}
.weekdays div {
  width: 14.28%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar .days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.calendar .days .day {
    width: 14.28%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--calendar-col);
    border: 1px solid #f5f5f5;
}
.calendar .days .day:nth-child(7n + 1) {
  border-left: 2px solid #ADD8E6;
}
.calendar .days .day:nth-child(7n) {
  border-right: 2px solid #ADD8E6;
}
.calendar .days .day:nth-child(-n + 7) {
  border-top: 2px solid #ADD8E6;
}
.calendar .days .day:nth-child(n + 29) {
  border-bottom: 2px solid #ADD8E6;
}

.calendar .days .day:not(.prev-date, .next-date):hover {
  color: #fff;
  background-color: var(--calendar-col);
}
.calendar .days .prev-date,
.calendar .days .next-date {
  color: #ADD8E6;
}
.calendar .days .active {
  position: relative;
  font-size: 1.5rem;
  color: #fff;
  background-color: var(--calendar-col);
}
.calendar .days .active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 2px var(--calendar-col);
}
.calendar .days .today {
  font-size: 1.25rem;
}
.calendar .days .event {
  position: relative;
}
.calendar .days .event::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 75%;
  height: 6px;
  border-radius: 30px;
  transform: translateX(-50%);
  background-color: var(--calendar-col);
}
.calendar .days .day:hover.event::after {
  background-color: #fff;
}
.calendar .days .active.event::after {
  background-color: #fff;
  bottom: 25%;
}
.calendar .days .active.event {
  padding-bottom: 10px;
}
.calendar .goto-today {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 20px;
  margin-bottom: 20px;
  color: var(--calendar-col);
}
.calendar .goto-today .goto {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--calendar-col);
}
.calendar .goto-today .goto input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 20px;
  color: var(--calendar-col);
  border-radius: 5px;
}
.calendar .goto-today button {
  padding: 5px 10px;
  border: 1px solid var(--calendar-col);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  color: var(--calendar-col);
}
.calendar .goto-today button:hover {
  color: #fff;
  background-color: var(--calendar-col);
}
.calendar .goto-today .goto button {
  border: none;
  border-left: 1px solid var(--calendar-col);
  border-radius: 0;
}
.container .right {
  position: relative;
  width: 40%;
  min-height: 100%;
  padding: 20px 0;
}

.right .today-date {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;  
    padding: 0 40px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.right .today-date .event-day {
  font-size: 1.5rem;
  font-weight: 300;
}
.right .today-date .event-date {
  font-size: 1.5rem;
  font-weight: 300;
  color: #ADD8E6;
}
.events {
  width: 100%;
  height: 100%;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  margin-left: 20px;
}
.events .event {
    position: relative;
    width: 95%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5x;
    padding: 0 20px;
    color: #000; 
    background-image: linear-gradient(to right, #90EE90, #3CB371); /* Light green to medium sea green */
    cursor: pointer;
}
/* even event */
.events .event:nth-child(even) {
  background-image: linear-gradient(to right, #D8BFD8, #9370DB); /* Light purple to medium purple */
}
.events .event:hover {
  background: #;
}
.events .event .title {
  display: flex;
  align-items: center;
  pointer-events: none;
}
.events .event .title .event-title {
  font-size: 1.25rem;
  font-weight: 400;
  margin-left: 20px;
}
.events .event i {
  color: #ADD8E6;
  font-size: 2rem;
}
.events .event:hover i {
  color: #fff;
}
.events .event .event-time {
  font-size: 1.1rem;
  font-weight: 400;
  color: #00008B;
  margin-left: 15px;
  pointer-events: none;
}
.events .event:hover .event-time {
  color: #fff;
}

.events .event::after {
  content: "✓";
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 3.5rem;
  line-height: 1;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  color: var(--calendar-col);
  transform: translateY(-50%);
}
.events .event:hover::after {
  display: flex;
}

.add-event {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    color: #000000;
    border: none;
    opacity: 1;
    border-radius: 5px;
    background-image: linear-gradient(to right, #E6E6FA, #9370DB); /* Lavender to Medium Purple */
    cursor: pointer;
    margin: 0px;
    padding: 10px 20px;
}

.add-event:hover {
    opacity: 1;
}

.add-event i {
  pointer-events: none;
}
.events .no-event {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;  
    justify-content: flex-start; 
    font-size: 1.5rem;
    font-weight: 300;
    color: #191970;
    padding-top: -10px; 
    padding-left: 10px; 
}
.add-event-wrapper {
  position: absolute;
  bottom: 75px;
  left: 75%;
  width: 90%;
  max-height: 0;
  overflow: hidden;
  border-radius: 5px;
  background-color: #fff;
  transform: translateX(-50%);
  transition: max-height 0.5s ease;
}
.add-event-wrapper.active {
  max-height: 300px;
}
.add-event-header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: #373c4f;
  border-bottom: 1px solid #B0E0E6;
}
.add-event-header .close {
  font-size: 2rem;
  cursor: pointer;
}
.add-event-header .close:hover {
  color: var(--calendar-col);
}
.add-event-header .title {
  font-size: 1rem;
  font-weight: 500;
}
.add-event-body {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
}
.add-event-body .add-event-input {
  width: 80%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.add-event-body .add-event-input input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #f5f5f5;
  padding: 10px;
  font-size: 1rem;
  font-weight: 400;
  color: #373c4f;
}
.add-event-body .add-event-input input::placeholder {
  color: #9370DB;
}
.add-event-body .add-event-input input:focus {
  border-bottom: 1px solid var(--calendar-col);
}
.add-event-body .add-event-input input:focus::placeholder {
  color: var(--calendar-col);
}
.add-event-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-event-footer .add-event-btn {
  height: 40px;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  border: none;
  color: #fff;
  background-color: var(--calendar-col);
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid var(--calendar-col);
}
.add-event-footer .add-event-btn:hover {
  background-color: transparent;
  color: var(--calendar-col);
}

.credits {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  color: #fff;
  background-color: #191970;
}
.credits a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.credits a:hover {
  text-decoration: underline;
}
